.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Css for laptop */
@media (min-width: 1440px) {
 .right{
  background-image: url(images/bg-desktop-dark.jpg);
 }
}