@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  /* background-color: hsl(0, 0%, 98%); */
  width: 100vw;
  height: 100vh;
  margin: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem 0;
  align-items: stretch;
}
/* overlay to make everything else dark */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 50;
}
.nav-content  {
  opacity: 0;
  position:absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  font-size: 1.2rem;
  /* display: flex;
  flex-direction: column; */
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  
  align-items:flex-start;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 250px;
  /* height: 150px; */
  
}
nav ul li{
  margin-bottom: 20px;
}
.arrow-down{
  display: inline;

}
.arrow-up{
  display: none;
}

.arrow-down, .arrow-up{
  margin-left: 10px;
  cursor: pointer;
}

.sub-dropdown{
  display: none;
  margin-left: 40px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.login{
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login a:nth-child(2){
  width: 80%;
  height: 40px;
  border: 1.2px solid black;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
  /* background-color: bisque; */
  position: relative;
}
.menu-open{
  opacity: 1;
}
.menu-close {
  opacity: 0; 
}


/*Promotions logo  */
.left-logos {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* adjusting the width of all the image  */
  width: 90%;
  height: max-content;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.left-logos img {
  width: 70px;
  height: max-content; /* Adjust this as needed */
  object-fit: cover;
}
main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
}
.left {
  color: #000;
  margin: 40px 0;
  /* padding: 1.5rem; */
  text-align: center;
  line-height: 1.8rem;
}
.left h1 {
  font-size: 2.3rem;
  margin: 25px 0;
}
.left p {
  font-size: 1.1rem;
  padding: 0 1.5rem;
  margin: 25px 0;
  color: hsl(0, 0%, 41%);
  margin-bottom: 40px;
}
.btn{
  
  background-color: hsl(0, 0%, 8%);
  color: #fff;
  padding: 17px 25px;
  border-radius: 15px;
  margin: 25px 0;
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
}

.right img {
  margin-top: 10px;
  width: 100%;
  height: auto;
   /* Adjust as needed */
}

footer {
  display: none; /*flex*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: hsl(0, 3%, 50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Css for laptop */
@media (min-width: 1440px) {
  .right {
    background-image: url(images/image-hero-desktop.png);
  }
  header {
    display: flex;
    width: 100vw; /* Fix typo here */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: none;
  }
  nav ul li {
    margin-bottom: 0;
    margin-right: 20px;
  }
  nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .sub-dropdown {
    display: none;
    margin-left: 0;
    margin-top: 0;
  }

  .nav-content {
    opacity: 1;
    position: static;
    top: auto;
    right: auto;
    width: 100%;
    height: auto;
    background-color: transparent;
    font-size: 1.6rem; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .overlay{
    display: none;
  }

  .login{
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;;
    
  }

  .desk-head {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
  }
  /* .desk-head img {
    width: 100px;
    height: max-content;
  }
  .desk-head h1 {
    margin-left: 20px;
    font-size: 1.5rem;
  } */
  
}
